<div class="mb-3">
    <Badge Color="BsColor.Primary" IndicatorType="BadgeIndicatorType.RoundedPill">Primary</Badge>
    <Badge Color="BsColor.Secondary" IndicatorType="BadgeIndicatorType.RoundedPill">Secondary</Badge>
    <Badge Color="BsColor.Success" IndicatorType="BadgeIndicatorType.RoundedPill">Success</Badge>
    <Badge Color="BsColor.Danger" IndicatorType="BadgeIndicatorType.RoundedPill">Danger</Badge>
    <Badge Color="BsColor.Warning" IndicatorType="BadgeIndicatorType.RoundedPill">Warning</Badge>
    <Badge Color="BsColor.Info" IndicatorType="BadgeIndicatorType.RoundedPill">Info</Badge>
    <Badge Color="BsColor.Light" IndicatorType="BadgeIndicatorType.RoundedPill">Light</Badge>
    <Badge Color="BsColor.Dark" IndicatorType="BadgeIndicatorType.RoundedPill">Dark</Badge>
</div>

<div>
    <Badge Color="BsColor.Primary" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Primary</Badge>
    <Badge Color="BsColor.Secondary" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Secondary</Badge>
    <Badge Color="BsColor.Success" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Success</Badge>
    <Badge Color="BsColor.Danger" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Danger</Badge>
    <Badge Color="BsColor.Warning" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Warning</Badge>
    <Badge Color="BsColor.Info" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Info</Badge>
    <Badge Color="BsColor.Light" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Light</Badge>
    <Badge Color="BsColor.Dark" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">Dark</Badge>

</div>