<Button Type="ButtonType.Button" Color="BsColor.Primary" Position="Position.Relative">
    Inbox
    <Badge Color="BsColor.Danger"
           Position="Position.Absolute"
           Placement="BadgePlacement.TopRight"
           IndicatorType="BadgeIndicatorType.RoundedPill"
           VisuallyHiddenText="unread messages"></Badge>
</Button>