<div class="mb-3">
    <Badge Color="BsColor.Primary" VisuallyHiddenText="Visually hidden text for Primary">Primary</Badge>
    <Badge Color="BsColor.Secondary" VisuallyHiddenText="Visually hidden text for Secondary">Secondary</Badge>
    <Badge Color="BsColor.Success" VisuallyHiddenText="Visually hidden text for Success">Success</Badge>
    <Badge Color="BsColor.Danger" VisuallyHiddenText="Visually hidden text for Danger">Danger</Badge>
    <Badge Color="BsColor.Warning" VisuallyHiddenText="Visually hidden text for Warning">Warning</Badge>
    <Badge Color="BsColor.Info" VisuallyHiddenText="Visually hidden text for Info">Info</Badge>
    <Badge Color="BsColor.Light" VisuallyHiddenText="Visually hidden text for Light">Light</Badge>
    <Badge Color="BsColor.Dark" VisuallyHiddenText="Visually hidden text for Dark">Dark</Badge>
</div>

<div>
    <Badge Color="BsColor.Primary" Class="p-2" VisuallyHiddenText="Visually hidden text for Primary">Primary</Badge>
    <Badge Color="BsColor.Secondary" Class="p-2" VisuallyHiddenText="Visually hidden text for Secondary">Secondary</Badge>
    <Badge Color="BsColor.Success" Class="p-2" VisuallyHiddenText="Visually hidden text for Success">Success</Badge>
    <Badge Color="BsColor.Danger" Class="p-2" VisuallyHiddenText="Visually hidden text for Danger">Danger</Badge>
    <Badge Color="BsColor.Warning" Class="p-2" VisuallyHiddenText="Visually hidden text for Warning">Warning</Badge>
    <Badge Color="BsColor.Info" Class="p-2" VisuallyHiddenText="Visually hidden text for Info">Info</Badge>
    <Badge Color="BsColor.Light" Class="p-2" VisuallyHiddenText="Visually hidden text for Light">Light</Badge>
    <Badge Color="BsColor.Dark" Class="p-2" VisuallyHiddenText="Visually hidden text for Dark">Dark</Badge>
</div>
