<div class="row g-3">
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Default">Default Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Primary">Primary Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Secondary">Secondary Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Success">Success Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Danger">Danger Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Warning">Warning Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Info">Info Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Light">Light Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Dark">Dark Tooltip</Tooltip>
    </div>
    <div class="col-3">
        <Tooltip Title="This top tooltip is themed via Color parameter." Color="BsColor.Transparent">Transparent Tooltip</Tooltip>
    </div>
</div>
