<Tooltip Title="@title" Color="@tooltipColor">Tooltip Top</Tooltip>

<br/>
<br />

<Button Color="BsColor.Primary" @onclick="UpdateTooltipToPrimary">Change Tooltip Color</Button>
<Button Color="BsColor.Success" @onclick="UpdateTooltipToSuccess">Change Tooltip Color</Button>
<Button Color="BsColor.Danger" @onclick="UpdateTooltipToDanger">Change Tooltip Color</Button>

@code {
    private string? title = "Tooltip Top";
    private BsColor tooltipColor;

    private void UpdateTooltipToPrimary()
    {
        tooltipColor = BsColor.Primary;
        title = "Tooltip Top Primary";
    }

    private void UpdateTooltipToSuccess()
    {
        tooltipColor = BsColor.Success;
        title = "Tooltip Top Success";
    }

    private void UpdateTooltipToDanger()
    {
        tooltipColor = BsColor.Danger;
        title = "Tooltip Top Danger";
    }
}