<Toasts class="p-3" Messages="messages" AutoHide="true" StackLength="3" Placement="ToastsPlacement.TopRight" />

<Button Color="BsColor.Primary" @onclick="() => ShowMessage(BsColor.Primary)">Primary Toast</Button>
<Button Color="BsColor.Secondary" @onclick="() => ShowMessage(BsColor.Secondary)">Secondary Toast</Button>
<Button Color="BsColor.Success" @onclick="() => ShowMessage(BsColor.Success)">Success Toast</Button>
<Button Color="BsColor.Danger" @onclick="() => ShowMessage(BsColor.Danger)">Danger Toast</Button>
<Button Color="BsColor.Warning" @onclick="() => ShowMessage(BsColor.Warning)">Warning Toast</Button>
<Button Color="BsColor.Info" @onclick="() => ShowMessage(BsColor.Info)">Info Toast</Button>
<Button Color="BsColor.Dark" @onclick="() => ShowMessage(BsColor.Dark)">Dark Toast</Button>

@code {
    List<ToastMessage> messages = new List<ToastMessage>();

    private void ShowMessage(BsColor toastType) => messages.Add(CreateToastMessage(toastType));

    private ToastMessage CreateToastMessage(BsColor toastType)
    => new ToastMessage
        {
            Type = toastType,
            Title = "Blazor Bootstrap",
            HelpText = $"{DateTime.Now}",
            Message = $"Hello, world! This is a toast message. DateTime: {DateTime.Now}",
        };
}