<Button Type="ButtonType.Link" Color="BsColor.Primary" Size="ButtonSize.Large" Disabled="true"> Primary link </Button>
<Button Type="ButtonType.Link" Color="BsColor.Secondary" Size="ButtonSize.Large" Disabled="true"> Link </Button>