<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Transparent"> Default Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Primary"> Primary Tooltip  </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Secondary"> Secondary Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Success"> Success Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Danger"> Danger Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Warning">Warning Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Info"> Info Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Light"> Light Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Dark"> Dark Tooltip </Button>
<Button Color="BsColor.Light" TooltipTitle="This top tooltip is themed via TooltipColor parameter." TooltipPlacement="TooltipPlacement.Top" TooltipColor="BsColor.Transparent"> Transparent Tooltip </Button>
