<Button Type="ButtonType.Link" Color="BsColor.Primary" To="#"> Toggle button </Button>
<Button Type="ButtonType.Link" Color="BsColor.Primary" To="#" Active="true"> Active toggle button </Button>
<Button Type="ButtonType.Link" Color="BsColor.Primary" To="#" Disabled="true"> Disabled toggle button </Button>