<Button Color="BsColor.Primary"> Primary </Button>
<Button Color="BsColor.Secondary"> Secondary </Button>
<Button Color="BsColor.Success"> Success </Button>
<Button Color="BsColor.Danger"> Danger </Button>
<Button Color="BsColor.Warning"> Warning </Button>
<Button Color="BsColor.Info"> Info </Button>
<Button Color="BsColor.Light"> Light </Button>
<Button Color="BsColor.Dark"> Dark </Button>
<Button Color="BsColor.Link"> Link </Button>