<Button Color="BsColor.Primary"> Toggle button </Button>
<Button Color="BsColor.Primary" Active="true"> Active toggle button </Button>
<Button Color="BsColor.Primary" Disabled="true"> Disabled toggle button </Button>