<Button Color="BsColor.Primary" Outline="true"> Primary </Button>
<Button Color="BsColor.Secondary" Outline="true"> Secondary </Button>
<Button Color="BsColor.Success" Outline="true"> Success </Button>
<Button Color="BsColor.Danger" Outline="true"> Danger </Button>
<Button Color="BsColor.Warning" Outline="true"> Warning </Button>
<Button Color="BsColor.Info" Outline="true"> Info </Button>
<Button Color="BsColor.Light" Outline="true"> Light </Button>
<Button Color="BsColor.Dark" Outline="true"> Dark </Button>
